# Final Project

Notes:

* 2009-2023
* Trends!
* Suicide; Accidental Deaths
*

In [33]:
import pandas as pd
import datetime as dt
import numpy as np

In [26]:
# chunks = []
# chunksize = 100000
#
# for chunk in pd.read_json('depression_submissions.ndjson', lines=True, chunksize=chunksize):
#     chunks.append(chunk[['selftext', 'title', 'created_utc', 'author']])
#     print("Chunk loaded")
#
# df = pd.concat(chunks, ignore_index=True)
# print(df.head())
#
# df.to_parquet('posts.parquet')

In [27]:
df = pd.read_parquet("posts.parquet", engine="pyarrow")

In [28]:
print(df.head())
print(df["selftext"].describe())
print(len(df))
print(df.columns)
print(df.dtypes)

df["time_readable"] = [dt.datetime.fromtimestamp(x) for x in df["created_utc"].tolist()]

df_filtered = df[~df["selftext"].isin(["[deleted]", "[removed]"])]
df_filtered = df_filtered[~df_filtered["author"].isin(["[deleted]", "[removed]"])]
df_filtered = df_filtered[df_filtered["selftext"].str.len() > 1]

df_filtered.head()

    selftext                                              title  created_utc  \
0  [deleted]            Girls, the future and some other stuff.   1230773002
1  [removed]                                   Girls and stuff.   1230773772
2             I had plans to go out to one or more parties t...   1230780179
3             Nearly all of my friends are out for the night...   1230784330
4  [deleted]  I can't talk to girls, or really anyone in per...   1230786778

        author
0    [deleted]
1  HappyRabbit
2    [deleted]
3    [deleted]
4    [deleted]
count       1516442
unique       925033
top       [deleted]
freq         379280
Name: selftext, dtype: object
1516442
Index(['selftext', 'title', 'created_utc', 'author'], dtype='object')
selftext       object
title          object
created_utc     int64
author         object
dtype: object

,selftext,title,created_utc,author,time_readable
65,I think a significant number of people who com...,Could contemplating suicide ever be a purely l...,1247708506,kaleidoscopeeyes21,2009-07-16 03:41:46
72,More to the point do you ever feel unlikeable?...,Who else is up late right now looking at faceb...,1248926466,itsfakenameyouknow,2009-07-30 06:01:06
75,I won't go too into the details. Suffice to sa...,I'm considering submitting myself to a psychia...,1249340637,Soupstorm,2009-08-04 01:03:57
77,A detailed account of an emotional breakdown.\...,I'm not okay.,1249509675,armakaryk,2009-08-06 00:01:15
78,Hello Reddit i have been feeling a little down...,Im not sure what im feeling,1249525787,Herropoly,2009-08-06 04:29:47

In [29]:
df_filtered.to_parquet("filtered_posts.parquet", engine="pyarrow")

In [34]:
print(len(df_filtered))
np.mean([len(x) for x in df_filtered["selftext"]])

839190

np.float64(1037.6763486218854)